* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

button {
  cursor: pointer;
}

.header {
  width: 600px;
  height: 167px;
  margin: 0 auto;
  padding: 46px;
  background: url('./images/header-bg.jpg') center 65% no-repeat;
  background-size: cover;
  color: white;
}

.header h1 {
  width: 169px;
  margin-bottom: 19px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 39px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.header h2 {
  width: 275px;
  height: 8px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 22.42px;
  line-height: 13.8px;
  letter-spacing: 0%;
}

.main {
  width: 600px;
  margin: 0 auto;
  padding: 67px 46px;
  background: white;
}

.item {
  width: 508px;
  height: 140px;
  margin-bottom: 45px;
  display: flex;
  border-bottom: 1px solid #d2d2d2;
}

.item-graphic {
  width: 70px;
  height: 89px;
  margin-right: 31px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.72;
  font-family: Inter;
  font-weight: 400;
  font-size: 78.72px;
  line-height: 98.4px;
  letter-spacing: -2%;
}

.item-title {
  width: 43px;
  height: 17px;
  margin-bottom: 8.8px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 28px;
  line-height: 16.8px;
  letter-spacing: 0%;
}

.item-description {
  width: 358px;
  height: 24px;
  margin-bottom: 8px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #8b8b8b;
}

.item-price {
  width: 19px;
  height: 24px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.add-btn {
  width: 50px;
  height: 50px;
  opacity: 1;
  color: #3c3c3c;
  border: 1.5px solid #dedede;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-weight: 200;
  font-size: 32px;
  letter-spacing: 0%;
}

.add-btn::before {
  content: '+';
  transform: translateY(-2px); /* 👈 关键 */
}

.checkout-title {
  margin-bottom: 64px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 28px;
  line-height: 16.8px;
  letter-spacing: 0%;
  text-align: center;
}

.order-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.order-row .left {
  display: flex;
  align-items: center;
}

.food-name {
  width: 43px;
  height: 17px;
  margin-right: 13px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 28px;
  line-height: 16.8px;
  letter-spacing: 0%;
}

.order-row .remove {
  width: 77px;
  height: 22px;
  font-family: Verdana;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #bbbbbb;
}

.order-row .price {
  font-family: Smythe;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.divider {
  width: 504px;
  border-bottom: 2px solid #393333;
  margin-bottom: 14px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.total-title {
  font-family: Smythe;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #0e0e0e;
}

.total-price {
  font-family: Smythe;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #0e0e0e;
}

.purchase-btn {
  width: 508px;
  height: 60px;
  border: none;
  border-radius: 3px;
  background: #16db99;
  box-shadow: 0px 1px 2px 0px #0000000d;

  font-family: Verdana;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}

.main {
  position: relative;
}

.payment-modal {
  position: absolute;
  top: 125px;
  left: 38px;

  padding-top: 47px;
  padding-bottom: 29px;

  width: 524px;
  height: 542px;
  border-radius: 3.89px;
  border: 0 solid #757575;
  box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
  background: white;
}

.modal-title {
  width: 304px;
  height: 41px;
  margin: 0 auto 47px;
  font-family: Verdana;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 31.12px;
  letter-spacing: 0%;
}

.payment-modal div {
  text-align: center;
  margin-bottom: 23px;
}

.payment-modal input {
  width: 476px;
  height: 71.3px;
  padding: 16px 26px 13px 26px;

  border-radius: 3.89px;
  border: 1.3px solid #757575;

  color: #757575;
  font-family: Verdana;
  font-weight: 400;
  font-size: 20px;
  line-height: 31.12px;
  letter-spacing: 0%;
}

.pay-button {
  margin-top: 46px;
}

.payment-modal button {
  width: 476px;
  height: 71.3px;
  border-radius: 3.89px;
  background: #16db99;
  font-family: Verdana;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.12px;
  letter-spacing: 0%;
  color: #ffffff;
  border: none;
}

.checkout-section {
  display: none;
}

.payment-modal {
  display: none;
}

.order-complete-section {
  width: 504px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  border: none;
  background: #ecfdf5;
}

.order-details {
  width: 379px;
  height: 17px;
  font-family: Smythe;
  font-weight: 400;
  font-size: 32px;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #065f46;
}
